.receita{
    background: #fdfdfd;
    display: flex;  /* para se comportar como flex-box */
    flex-direction: column; /* colua para ficar um embaixo do outro  */
    margin-bottom: 5rem; 
    margin-right: 5rem;
    width: calc(25% - 5rem); /* - 5rem éem relação a somda do espeçameto somado com o espaçameto da margem de 5ren*/ 

}